@use '../abstracts' as *;

.container {
    margin-inline: auto;
    width: 327px;
}

/* MEDIAQUERIES - Container */
@media screen and (min-width: 648px) {
    .container {
        width: 600px;
    }
}