@use '../abstracts/' as *;

.section {
    background-color: $clr-ntl-white;
    border-radius: 8px;
    box-shadow: 0px 18px 30px -3px rgba(160, 42, 234, 0.2);
    display: flow-root;
    padding-block-end: .188em;
    padding-block-start: 1.625em;
    padding-inline: 1.5em;
}

.section-title {
    background-image: url('../../assets/images/icon-star.svg');
    background-position: top 5px left -1px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    color: $clr-pry-dark-purple;
    font-size: 2rem;
    font-weight: $fw-bold;
    margin: 0;
    text-indent: 48px;
}

/* MEDIAQUERIES - Section */
@media screen and (min-width: 648px) {
    .section {
        border-radius: 14px;
        padding-block-end: 1.25em;
        padding-block-start: 2.625em;
        padding-inline: 2.625em;
    }

    .section-title {
        background-position: top 11px left;
        background-size: 42px 42px;
        font-size: 3.625rem;
        text-indent: 62px;
    }
}