@use '../abstracts/' as *;

.faq {
    padding-block-start: 1.5em;
}

.faq h2 {
    border-top: 2px solid $clr-ntl-light-pink;
    display: flow-root;
    margin-block-end: .875em;
    padding-block-start: .75em;
}

.faq h2:first-child {
    border-top: 0;
    margin-block-start: 0;
    padding-block-start: 0;
}

.faq h2:last-of-type {
    border-bottom: none;
    padding-block-end: 0;
}

.faq-trigger {
    align-items: center;
    background-color: $clr-ntl-white;
    border: none;
    color: $clr-pry-dark-purple;
    cursor: pointer;
    display: flex;
    font-weight: $fw-semi-bold;
    justify-content: start;
    line-height: 1;
    min-height: 28px;
    padding-inline: 0;
    position: relative;
    text-align: left;
    width: 100%;
}

.faq-trigger:hover,
.faq-trigger:focus-visible {
    color: $clr-sec-purple;
}

.faq-question {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.2;
    width: 234px;
}

.faq-icon {
    background-position: center right -2px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 34px;
}

.faq-trigger[aria-expanded="true"] .faq-icon {
    background-image: url('../../assets/images/icon-minus.svg');
}

.faq-trigger[aria-expanded="false"] .faq-icon {
    background-image: url('../../assets/images/icon-plus.svg');
}

.faq-panel {
    color: $clr-sec-grayish-purple;
}

.faq-answer {
    font-size: .875rem;
    line-height: 1.5;
    margin-block-end: 1.5em;
}

.hidden {
    display: none;
}

/* MEDIAQUERIES - FAQ component */
@media screen and (min-width: 648px) {

    .faq {
        padding-block-start: 2.125em;
    }
    
    .faq h2 {
        margin-block-end: 1em;
        padding-block-start: 1em;
    }

    .faq-question {
        display: block;
        font-size: 1.125rem;
        line-height: 1.2;
        width: 100%;
    }

    .faq-answer {
        font-size: 1rem;
        line-height: 1.5;
    }
    
}